* {
    font-family: Impact, fantasy;
}

#landing-page {
    background-image: url(../Images/luffyrooftop.gif);
    background-repeat: no-repeat;
    background-size: cover;
    height: 50vh;
}

.intro {
    float: right;
    width: 33vh;
    margin: 10% 5%;
    backdrop-filter: blur(5px);
    padding: 1vh;
    border-radius: 1vh;
}

.luffy {
    color: red;
}

h1 {
    color: yellow;
    padding-top: 10px !important;
}

h2 {
    color: #546bac;
    padding: 20px !important;
}

p {
    color: white;
    font-size: 12px;
    font-weight: lighter;
    font-family: Noto Sans, sans-serif;
}